<div id="password-recovery">
    {{#if serverErrors.unexpectedError || serverErrors.emailNotFound}}
    <section id="login-errors" class="row">
        <div class="col-md-offset-4 col-md-3">
            {{#if serverErrors.unexpectedError}}
            <div class="alert alert-danger " role="alert">Unexpected error</div>
            {{/if}}
            {{#if serverErrors.emailNotFound}}
            <div class="alert alert-danger" role="alert">Email not found</div>
            {{/if}}
        </div>
    </section>
    {{/if}}
    <section class="row">
        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-md-3">
            <form id="password-recovery-form" name="password-recovery-form" novalidate="novalidate" role="form">
                <div class="form-group">
                    <label class="control-label" for="email">Email you signed up with</label>
                    <input id="email" name="email" class="form-control" type="email"
                           value="{{email}}"
                           required="true"
                           data-error="Invalid email"
                           data-required-error="Required"/>
                    <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="btn btn-primary">Email me reset instructions</button>
            </form>
        </div>
    </section>
</div>