<div id="password-reset">
    {{#if serverErrors.resetInfoInvalid || serverErrors.unexpectedError || serverErrors.invalidToken}}
    <section id="login-errors" class="row">
        <div class="col-md-offset-4 col-md-3">
            {{#if serverErrors.resetInfoInvalid}}
            <div class="alert alert-danger " role="alert">Password reset info invalid</div>
            {{/if}}
            {{#if serverErrors.unexpectedError}}
            <div class="alert alert-danger " role="alert">Unexpected error</div>
            {{/if}}
            {{#if serverErrors.invalidToken}}
            <div class="alert alert-danger" role="alert">Invalid token</div>
            {{/if}}
        </div>
    </section>
    {{/if}}
    <section class="row">
        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-md-3">
            <form id="password-reset-form" name="password-reset-form" novalidate="novalidate" role="form">

                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input id="password" name="password" class="form-control" type="password"
                           value="{{password}}"
                           required="true"
                           data-error="Required"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password-confirmation">Confirm your password</label>
                    <input id="password-confirmation" name="password-confirmation" class="form-control"
                           type="password"
                           required="true"
                           data-match="#password"
                           data-match-error="Passwords must match"
                           data-error="Required"/>
                    <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </section>
</div>